@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.max-w-1140 {
    max-width: 1164px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.gap-32 {
    gap: 32px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.nav-btn {
    border-radius: 6px;
    padding: 13.5px 24px;
    transition: all 200ms linear;
}

.nav-btn:hover {
    background-color: var(--color-white) !important;
    color: var(--color-orange) !important;
}

.navbar-link {
    transition: all 200ms linear;
}

.navbar-link:hover {
    color: var(--color-orange) !important;
    -webkit-text-stroke: 1px var(--color-orange) !important;
}

.nav-circle {
    width: 41px;
    height: 41px;
    border-radius: 6px;
    background: #FFFFFF33;
}

.nav-bg-color {
    background-color: #0E0E0E4D;
}

.gap-16 {
    gap: 16px;
}

.cross-circle {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #FFFFFF33;
}

.common-class {
    height: 5px;
    margin-bottom: 5px;
    background-color: white !important;
    transition: all 300ms linear;
    border-radius: 10px;
    z-index: 10;
    display: flex;
}

.menu-lines-1 {
    width: 15px;
}

.menu-lines-2 {
    width: 30px;
}

.menu-lines-3 {
    width: 15px;
    transform: translateX(15px);
}

.color-oranges {
    background-color: var(--color-orange) !important;
}

/***** line height *****/
.lh-21 {
    line-height: 21px;
}

.lh-22 {
    line-height: 22px;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28px;
}

.lh-34 {
    line-height: 34px;
}

.lh-43 {
    line-height: 43px;
}

.lh-100 {
    line-height: 100%;
}

/* header */
.bg-img {
    background-image: url(../imgaes/png/header-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.explore-btn {
    padding: 18px 25.5px;
    border-radius: 6px;
    transition: all 200ms linear;
}

.explore-btn:hover {
    background-color: var(--color-white) !important;
    color: var(--color-orange) !important;

    svg path {
        stroke: var(--color-orange);
    }
}

.mt-222 {
    margin-top: 222px;
}

.mb-199 {
    margin-bottom: 199px;
}

.max-w-607 {
    max-width: 607px;
}

.mb-148 {
    margin-bottom: 148px;
}

/***** About Us *****/
.about-line {
    width: 30px;
    height: 0px;
    border: 2px solid var(--color-black-sheep);
}

.max-w-540 {
    max-width: 540px !important;
}

.pt-100 {
    padding-top: 100px !important;
}


.max-w-445 {
    max-width: 445px;
}

.h-316 {
    height: 316px;
}

.max-w-690 {
    max-width: 690px;
}

.h-266 {
    height: 266px;
}

.left-0 {
    left: 0;
}

.max-w-398 {
    max-width: 398px;
}

.h-605 {
    height: 605px;
}

.mb-100 {
    margin-bottom: 100px;
}
/***** Our Gallery *****/

/***** contact *****/
.bg-img-2 {
    background-image: url(../imgaes/png/contact-section-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-line {
    width: 30px;
    height: 0;
    border: 2px solid #E58E1A;
}

.max-w-730 {
    max-width: 730px;
}

.mb-30 {
    margin-bottom: 30px;
}

.gap-10 {
    gap: 10px;
}

.gap-40 {
    gap: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.box {
    max-width: 881px;
    padding: 10px 12px;
    border-bottom: 1px solid #E58E1A;
}

.big-box {
    border-radius: 10px;
    padding: 32px;
}

.input-common-class {
    height: 58px;
    border-radius: 4px;
    outline-color: lightgray;
}

input::placeholder,
textarea::placeholder {
    color: var(--color-black-sheep);
}

.textarea {
    height: 152px;
    resize: none;
    border-radius: 4px;
    outline-color: lightgray;
}

.pb-126 {
    padding-bottom: 126px;
}

.send-btn {
    border-radius: 6px;
    padding: 15px 32px;
    background-color: var(--color-black-sheep);
    transition: all 200ms linear;
}

.send-btn:hover {
    background-color: var(--color-white);
    color: var(--color-black-sheep) !important;

    svg path {
        stroke: var(--color-black-sheep);
    }
}

/***** footer *****/
.pt-46 {
    padding-top: 46px;
}

.max-w-367 {
    max-width: 367px;
}

.mb-42 {
    margin-bottom: 42px;
}

.pb-46 {
    padding-bottom: 46px;
}

.footer-line {
    border: 1px solid var(--color-white);
    opacity: 20%;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-icons {
    transition: all 200ms linear;
}

.footer-icons:hover {
    transform: scale(1.1);
}

.footer-link {
    transition: all 200ms linear;
}

.footer-link-2 {
    transition: all 200ms linear;
    width: max-content;
}

.footer-link:hover {
    color: var(--color-orange) !important;
    -webkit-text-stroke: 1px var(--color-orange) !important;
}

.footer-link-2:hover {
    color: var(--color-orange) !important;
    -webkit-text-stroke: 1px var(--color-orange) !important;

    svg path {
        fill: var(--color-orange) !important;
    }
}

@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }

    .lh-43 {
        line-height: normal;
    }

    .lh-34 {
        line-height: normal;
    }

    .mb-42 {
        margin-bottom: 0 !important;
    }
}

@media (max-width:767.98px) {
    .logo {
        max-width: 141px !important;
    }

    .nav-btn {
        border-radius: 6px;
        padding: 11.5px 16.5px;
    }

    .max-w-607 {
        max-width: 332px;
    }

    .max-w-540 {
        max-width: 654px !important;
    }

    .py-40 {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .mt-222 {
        margin-top: 97px;
    }

    .mb-199 {
        margin-bottom: 101px;
    }

    .mb-148 {
        margin-bottom: 30px;
    }

    .pt-100 {
        padding-top: 50px !important;
    }

    .max-w-398 {
        max-width: 230px;
    }

    .h-605 {
        height: 350px !important;
    }

    .nav-circle {
        width: 36px;
        height: 36px;
    }

    .nav-svg {
        width: 20px !important;
        height: 20px !important;
    }

    .gap-40 {
        gap: 24px;
    }

    .big-box {
        padding: 24px;
    }

    .pb-126 {
        padding-bottom: 60px;
    }

    .pt-46 {
        padding-top: 30px;
    }

    .pb-46 {
        padding-bottom: 41px;
    }

    .py-32 {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media (max-width:575.98px) {
    .logo {
        max-width: 94px !important;
    }

    .nav-btn {
        border-radius: 6px;
        padding: 7.5px 13px;
    }

    .mt-222 {
        margin-top: 66px;
    }

    .mb-199 {
        margin-bottom: 65px;
    }

    .py-40 {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .mb-148 {
        margin-bottom: 16px;
    }

    .max-w-607 {
        max-width: 233px;
    }

    .lh-26 {
        line-height: 18px;
    }

    .max-w-540 {
        max-width: 343px;
    }

    .pt-100 {
        padding-top: 30px !important;
    }

    .max-w-445 {
        max-width: 267px;
    }

    .h-316 {
        height: 179px;
    }

    .cross-circle,
    .nav-circle {
        width: 28px !important;
        height: 28px !important;
    }

    .gap-16 {
        gap: 8px !important;
    }

    .menu-lines-1 {
        width: 7px !important;
        height: 2px !important;
    }

    .menu-lines-2 {
        width: 10px !important;
        height: 2px !important;
    }

    .menu-lines-3 {
        width: 7px !important;
        height: 2px !important;
        transform: translateX(3px) !important;
    }

    .nav-svg {
        width: 16px !important;
        height: 16px !important;
    }

    .gap-40 {
        gap: 14px;
    }

    .font-size-14 {
        font-size: 14px !important;
    }

    .lh-sm-22 {
        line-height: 22px !important;
    }

    .big-box {
        padding: 16px;
    }

    .pb-126 {
        padding-bottom: 29px;
    }

    .mb-42 {
        margin-bottom: 16px !important;
    }

    .pb-46 {
        padding-bottom: 24px;
    }

    .py-32 {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .pt-46 {
        padding-top: 21px;
    }
}